@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="mt-4">
        Final Fantasy XIV (FF14) est un MMORPG acclamé par la critique, développé par Square Enix.
        Le jeu se déroule dans le monde enchanteur d'Éorzéa, où les joueurs peuvent incarner différentes classes et métiers,
        explorer des paysages variés, affronter des créatures redoutables et se lier d'amitié avec d'autres aventuriers.
    </p>
    <p>
        Avec ses graphismes époustouflants, son scénario captivant, et son système de jeu riche et varié,
        FF14 offre une expérience inoubliable, que vous soyez un amateur de donjons, un passionné d'artisanat,
        ou un explorateur dans l'âme.
    </p>
    <p>
        Rejoignez la communauté mondiale de millions de joueurs et vivez une aventure épique qui continue d'évoluer
        avec des mises à jour régulières et des extensions majeures.
    </p>
</div>
