@model IEnumerable<Raidplanner.Models.Forms.CreateBossForm>

@{
    ViewData["Title"] = "Liste des donjons";
}

<h2>Liste des Donjons</h2>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Description)
                </th>
            </tr>
        }
    </tbody>
</table>
