USE [master]
GO
/****** Object:  Database [RaidPlanner]    Script Date: 27-01-25 11:36:00 ******/
CREATE DATABASE [RaidPlanner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RaidPlanner', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TFTIC\MSSQL\DATA\RaidPlanner.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RaidPlanner_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TFTIC\MSSQL\DATA\RaidPlanner_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RaidPlanner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RaidPlanner]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27-01-25 11:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boss]    Script Date: 27-01-25 11:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boss](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Boss] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DJ]    Script Date: 27-01-25 11:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DJ](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DJ] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loot]    Script Date: 27-01-25 11:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[RaidId] [int] NOT NULL,
 CONSTRAINT [PK_Loot] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raids]    Script Date: 27-01-25 11:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raids](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[BossId] [int] NOT NULL,
	[DJId] [int] NOT NULL,
 CONSTRAINT [PK_Raids] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRaid]    Script Date: 27-01-25 11:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRaid](
	[RaidId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UserRaid] PRIMARY KEY CLUSTERED 
(
	[RaidId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27-01-25 11:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Loot_RaidId]    Script Date: 27-01-25 11:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_Loot_RaidId] ON [dbo].[Loot]
(
	[RaidId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Raids_BossId]    Script Date: 27-01-25 11:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_Raids_BossId] ON [dbo].[Raids]
(
	[BossId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Raids_DJId]    Script Date: 27-01-25 11:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_Raids_DJId] ON [dbo].[Raids]
(
	[DJId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRaid_UserId]    Script Date: 27-01-25 11:36:01 ******/
CREATE NONCLUSTERED INDEX [IX_UserRaid_UserId] ON [dbo].[UserRaid]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Loot]  WITH CHECK ADD  CONSTRAINT [FK_Loot_Raids_RaidId] FOREIGN KEY([RaidId])
REFERENCES [dbo].[Raids] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Loot] CHECK CONSTRAINT [FK_Loot_Raids_RaidId]
GO
ALTER TABLE [dbo].[Raids]  WITH CHECK ADD  CONSTRAINT [FK_Raids_Boss_BossId] FOREIGN KEY([BossId])
REFERENCES [dbo].[Boss] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Raids] CHECK CONSTRAINT [FK_Raids_Boss_BossId]
GO
ALTER TABLE [dbo].[Raids]  WITH CHECK ADD  CONSTRAINT [FK_Raids_DJ_DJId] FOREIGN KEY([DJId])
REFERENCES [dbo].[DJ] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Raids] CHECK CONSTRAINT [FK_Raids_DJ_DJId]
GO
ALTER TABLE [dbo].[UserRaid]  WITH CHECK ADD  CONSTRAINT [FK_UserRaid_Raids_RaidId] FOREIGN KEY([RaidId])
REFERENCES [dbo].[Raids] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRaid] CHECK CONSTRAINT [FK_UserRaid_Raids_RaidId]
GO
ALTER TABLE [dbo].[UserRaid]  WITH CHECK ADD  CONSTRAINT [FK_UserRaid_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRaid] CHECK CONSTRAINT [FK_UserRaid_Users_UserId]
GO
USE [master]
GO
